<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST FRAMEWORK API</title>
</head>
<body>
    <h1>Rest Framework</h1>
    <h3><a href="/admin">Admin</a></h3>
    <h3><a href="{% url 'api-endpoint' %}">Api EndPoint</a></h3>
    <h3><a href="{% url 'api-detail' %}">Api Detail</a></h3>
    
        <table>
            <thead>
                <td>Student name</td>
                <td>Level</td>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.lavel}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    


</body>
</html>